:root {
	/* margins */
	--margin-m: 1em;

	--margin-s: calc(var(--margin-m) / 1.618);
	--margin-xs: calc(var(--margin-s) / 1.618);
	--margin-xxs: calc(var(--margin-xs) / 1.618);

	--margin-l: calc(var(--margin-m) * 1.618);
	--margin-xl: calc(var(--margin-l) * 1.618);
	--margin-xxl: calc(var(--margin-xl) * 1.618);

	/* borders */
	--border-l: 1em;
	--border-m: calc(var(--border-l) / 1.618);

	--border-s: calc(var(--border-m) / 1.618);
	--border-xs: calc(var(--border-s) / 1.618);
	--border-xxs: calc(var(--border-xs) / 1.618);

	--border-xl: calc(var(--border-l) * 1.618);
	--border-xxl: calc(var(--border-xl) * 1.618);

	--border-circle: 50%;

	/* colours */
	--col-background: hsl(0, 0%, 7%);

	--col-content-highest: hsl(0, 0%, 100%);
	--col-content-regular: hsl(0, 0%, 90%);
	--col-content-lowest: hsl(0, 0%, 80%);

	--col-container: hsl(0, 0%, 14%);
	--col-container-border-active: hsl(0, 0%, 80%);
	--col-container-border-inactive: hsl(0, 0%, 14%);

	--col-tone: hsl(47, 100%, 92%);
	--col-tone-hover: hsl(47, 45%, 84%);
	--col-tone-active: hsl(54, 23%, 75%);

	--col-semitone: hsl(0, 0%, 10%);
	--col-semitone-hover: hsl(0, 0%, 17%);
	--col-semitone-active: hsl(0, 0%, 25%);

	
	--tone-key-width: 3.1em;
	--semitone-key-width: calc(var(--tone-key-width) * 0.6);

	--tone-key-height: 17em;
	--semitone-key-height: calc(var(--tone-key-height) * 0.6);

	--semitone-key-spacing: calc(var(--tone-key-width) - var(--semitone-key-width) / 2);
}

@font-face {
	font-family: "montserrat";
	src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

html {
	color: var(--col-content-regular);
	font-family: montserrat;
	font-variation-settings: "wght" 500;

	background-color: var(--col-background);
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.content-highest {
	color: var(--col-content-highest);
	font-variation-settings: "wght" 700;
	font-size: x-large;
}

.content-regular {
	color: var(--col-content-regular);
	font-variation-settings: "wght" 500;
	font-size: medium;
}

.content-lowest {
	color: var(--col-content-lowest);
	font-variation-settings: "wght" 300;
	font-size: x-small;
}

.navbar-container {
	top: 0;
	left: 0;
	right: 0;
	display: flexbox;
	flex-direction: row;
	border-bottom: 1px solid white;
	padding: var(--margin-m);
}
.navbar-left, .navbar-right {
	display: flex;
	justify-content: flex-start;
	width: max-content;
	
	gap: var(--margin-l);
	padding-left: var(--margin-l);
}


.navbar-container > * {
	align-content: center;
}

.navbar-item {
	padding: var(--margin-xxs);
}

.navbar-item > a {
	text-decoration-line: none;
	color: var(--col-content-highest);

	padding: var(--border-xs);
	border-radius: var(--border-xxs);
	border-width: 0.07em;
	border-style: solid;
	border-color: var(--col-container-border-inactive);

	background-color: none;
	transition: all 0.2s;
}

.navbar-item > a:hover {
	background-color: var(--col-container);
	border-color: var(--col-container-border-active);
}

.piano-container {
	display: grid;
	user-select: none;
	color: black;
	overflow-x: auto;

	align-content: center;
	margin: 5em auto 0;
	
	width: calc(var(--tone-key-width) * 23);
	border-radius: 5px 5px 5px 5px;
	padding-bottom: 10px;
}

.piano-container::-webkit-scrollbar {
	border-radius: 1em;
	background: none;
	border: 0.05em solid white;
	width: 1em;
	height: 1em;
}
.piano-container::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: white;
}

.piano-tone {
	pointer-events: none;
	display: flex;
	grid-row: 1;
	grid-column: 1;
	gap: 0.1em;
	flex-direction: row;
}


.piano-semitone {
	pointer-events: none;
	display: flex;
	grid-row: 1;
	grid-column: 1;
	gap: calc(var(--tone-key-width) - var(--semitone-key-width) + 0.1em);
	flex-direction: row;
}

.tone-key {
	pointer-events: all;
	width: var(--tone-key-width);
	height: var(--tone-key-height);
	background-color: var(--col-tone);
	border-radius: 0px 0px 5px 5px;
	text-indent: 0.1em;
	/* transition: all 0.05s ease-in; */
	align-content: end;
}


.tone-key:first-child{
	border-radius: 5px 0px 5px 5px;
}
.tone-key:last-child{
	border-radius: 0px 5px 5px 5px;
}

.semitone-key {
	pointer-events: all;
	width: var(--semitone-key-width);
	height: var(--semitone-key-height);
	background-color: var(--col-semitone);
	border-radius: 0px 0px 5px 5px;
	transform: translateX(var(--semitone-key-spacing));
	text-indent: 0.1em;
	/* transition: all 0.05s ease-in; */
	align-content: end;
	color: white;
}

.placeholder-key {
	visibility: hidden;
}

.semitone-key.hover {
	background-color: var(--col-semitone-hover);
}
.tone-key.hover {
	background-color: var(--col-tone-hover);
}

.semitone-key.active {
	background-color: var(--col-semitone-active);
}
.tone-key.active {
	background-color: var(--col-tone-active);
}
.active {
	box-shadow: inset 5px white;
}